<h2><strong>ログイン</strong></h2>

<p><strong>ユーザーの方はこちらからログイン</strong></p>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <table>
    <tr>
      <div class="field">
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </div>
    </tr>
    <tr>
      <div class="actions">
        <td></td>
        <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
      </div>
    </tr>
  </table>
<% end %>

<p><strong>ユーザー登録がお済みでない方</strong></p>
<div>
  <%= render "user/shared/links" %> から新規登録を行ってください。
</div>
