<div class="container" style="padding-top: 10px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <h2><strong><span style="background-color: #FFDBC9;">新規レシピ投稿</span></strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1" style="margin-bottom: 50px;">
      <% if @recipe.errors.any? %>
        <%= @recipe.errors.count %>件のエラーが発生しました
        <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @recipe, url: recipes_path, method: :post, local: true do |f| %>
      <table class="table">
        <tr>
          <td class="col-2">レシピ名</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>投稿画像</td>
          <td><%= f.file_field :image, accept: "image/*"%></td>
        </tr>
        <tr>
          <td valign="top" >レシピ説明</td>
          <td><%= f.text_area :recipe_explanation %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td>
            <%= f.select :genre_id, @genres, include_blank: "ジャンル選択" %>
          </td>
        </tr>
        <tr>
          <td>タグ</td>
          <div class="row row-cols-auto">
            <td>
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <%= tag.label do %>
                  <div class="col">
                    <%= tag.check_box %>
                    <%= tag.text %>
                  </div>
                <% end %>
              <% end %>
            </td>
          </div>
        </tr>
        <tr>
          <td valign="top" >材料</td>
          <td>
            <%= f.select :serving, [['1人前',1], ['2人前',2], ['3人前',3], ['4人前',4], ['5人前',5], ['6人前',6], ['7人前',7], ['8人前',8], ['9人前',9], ['10人前',10]], include_blank: "選択" %>
            <%= f.fields_for :ingredients do |t| %>
              <%= render "user/recipes/recipe_ingredient_fields", f: t %>
            <% end %>
            <div id="detail-association-insertion-point"></div>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <%= link_to_add_association "+フォームを追加", f, :ingredients, partial: "recipe_ingredient_fields", class: "btn btn-sm btn-secondary",data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'before'} %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" >調理法</td>
          <td>
            <%= f.fields_for :cooking_methods do |t| %>
              <%= render "user/recipes/recipe_cooking_methods_fields", f: t %>
            <% end %>
            <div id="detail-association-insertion-point2"></div>
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <%= link_to_add_association "+フォームを追加", f, :cooking_methods, partial: "recipe_cooking_methods_fields", class: "btn btn-sm btn-secondary", data: { association_insertion_node: '#detail-association-insertion-point2', association_insertion_method: 'before' } %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top" >ポイント</td>
          <td><%= f.text_area :point_explanation %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "投稿", class: "btn btn-sm btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
