<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong>新規レシピ投稿</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1">
      <%= form_with model: @recipe, url: recipes_path, method: :post, local: true do |f| %>
      <table>
        <tr>
          <td>レシピ名</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>投稿画像</td>
          <td><%= f.file_field :image, accept: "image/*"%></td>
        </tr>
        <tr>
          <td>レシピ説明</td>
          <td><%= f.text_area :recipe_explanation %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td></td>
        </tr>
        <tr>
          <td>材料</td>
          <td>
            <%= f.fields_for :ingredients do |t| %>
            <div class="row row-cols-3">
              <div class="col">
                <%= f.text_field :name, class: "form-control", placeholder: "材料" %>
              </div>
              <div class="col">
                <%= f.text_field :amount, class: "form-control", placeholder: "分量" %>
              </div>
              <div class="col">
                <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <div id="detail-association-insertion-point"></div>
              </div>
            </div>
              <%= link_to_add_association "+フォームを追加", f, :ingredients,
              class: "btn btn-secondary btn-block",
              data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'after'
              }%>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>調理法</td>
          <td>
            <%= f.fields_for :cooking_methods do |t| %>
            <div class="row">
              <div class="col-2">
                <%= f.text_field :step, class: "form-control", placeholder: "No." %>
              </div>
              <div class="col-7">
                <%= f.text_area :cooking_explanation, class: "form-control", placeholder: "調理方法" %>
              </div>
              <div class="col-3">
                <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <div id="detail-association-insertion-point"></div>
              </div>
            </div>
              <%= link_to_add_association "+フォームを追加", f, :cooking_methods,
              class: "btn btn-secondary btn-block",
              data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'after'
              }%>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ポイント</td>
          <td><%= f.text_area :point_explanation %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "投稿", class: "btn btn-sm btn-success" %></td>
        </tr>
      </table>
    <% end %>
