<div class="container" style="padding-top: 10px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col d-flex flex-row">
      <h2><strong><span style="background-color: #FFDBC9;">レシピ一覧</span></strong> 検索結果 "<%= @keyword %>"</h2>
      (全<%= @recipes.count %>件)
    </div>
  </div>

    <div class="row offset-1" style="padding-bottom: 50px;">
      <% @recipes.each do |recipe| %>
      <div class="col-sm-4" style="margin-bottom: 10px;">
        <%= image_tag recipe.get_image, size: "200x200" %>
      </div>

      <div class="col-sm-8">
        <div class="row" style="margin-bottom: 30px;">
          <div class="col-6">
            <strong><%= link_to recipe.name, recipe_path(recipe.id) %></strong>
          </div>
          <div class="col-6" style="text-align: right;">
            <% if @user == current_user && @user.name != "guestuser" %>
              <div id="favorite_buttons_<%= recipe.id %>">
                <%= render "user/favorites/favorite", recipe: recipe %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
          <div class="col">
            <%= recipe.recipe_explanation %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <%= recipe.user.name %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <%= paginate @recipes %>
        </div>
      </div>
    </div>
  </div>
</div>
