<div class="container" style="padding-top: 10px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <h2><strong><span style="background-color: #FFDBC9;">ジャンル・カテゴリ編集</span></strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1" style="margin-bottom: 50px;">
      <% if @genre.errors.any? %>
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
      <table>
        <tr>
          <td><%= f.label 'ジャンル・カテゴリ名' %></td>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
