<div class="container" style="padding-top: 10px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <h2><strong><span style="background-color: #FFDBC9;">ユーザー一覧</span></strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1" style="margin-bottom: 50px;">
      <table class="table">
        <thead>
          <tr>
            <th>ユーザーid</th>
            <th>画像</th>
            <th><u>氏名</u></th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= image_tag user.get_profile_image(50,50) %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.last_name %> <%= user.first_name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted %>
                <div style="color:red;">利用停止</div>
              <% else %>
                <div style="color:green;">有効</div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
