<div class="container" style="padding-top: 10px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <h2><strong><span style="background-color: #FFDBC9;"><%= @user.name %> のユーザページ</span></strong></h2>
    </div>
  </div>

  <div class="row offset-1" style="margin-bottom: 50px;">
    <div class="col-sm-4">
      <%= image_tag @user.get_profile_image(150,150) %>
    </div>

    <div class="col-sm-8">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-6">
          <%= @user.name %>
        </div>
        <div class="col-6" style="text-align:right;">
          <% if @user == current_user && @user.name != "guestuser" %>
            <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-sm btn-success" %>
            <%= link_to "いいねした投稿", root_path, class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col" >
          <%= @user.self_introduction %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <div class="d-flex flex-row">
        <h4><strong>投稿レシピ一覧</strong></h4>
        (全<%= @recipes_all.count %>件)
      </div>
    </div>
    <div class="col" style="text-align:right;">
      <% if @user == current_user && @user.name != "guestuser" %>
        <%= link_to "新規投稿", new_recipe_path, class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex flex-row">
        <% @recipes.each do |recipe| %>
        <div class="col-sm-3">
          <div class="row">
            <div class="col">
              <%= image_tag recipe.get_image, size: "200x200" %>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="row" style="margin-bottom: 50px;">
            <div class="col">
              <strong><%= link_to recipe.name, recipe_path(recipe.id) %></strong>
            </div>

            <div class="col">
              <% if recipe.favorited_by?(current_user) %>
                <%= link_to recipe_favorites_path(recipe), method: :delete, class: "text-danger" do %>
                  ♥<%= recipe.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to recipe_favorites_path(recipe), method: :post do %>
                  ♥<%= recipe.favorites.count %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= recipe.recipe_explanation %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @recipes %>
    </div>
  </div>
</div>
