<div class="container">
  <div class="row">
    <div class="col">
      <h2><strong><span style="background-color: #FFDBC9;"><%= @user.last_name %> <%= @user.first_name %>さんのユーザー詳細</span></strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1">
      <table class="table">
        <tr>
          <td>ユーザーid</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= @user.self_introduction %></td>
        </tr>
        <tr>
          <td>ユーザーステータス</td>
          <td>
            <% if @user.is_deleted %>
              <div style="color:red;">利用停止</div>
            <% else %>
              <div style="color:green;">有効</div>
            <% end %>
          </td>
        </tr>
        <% @recipes.each do |recipe| %>
        <tr>
          <td>投稿レシピ名</td>
          <td>
            <%= link_to admin_recipe_path(@user.id) do %>
              <%= recipe.name %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= link_to "編集", edit_admin_user_path(@user.id), class: 'btn btn-success',data: {"turbolinks"=>false} %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
